<!-- <p>header works!</p> -->

<!-- <nav>
<ul>
    <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="">Home</a></li>
    <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="users">Users</a></li>
    <li><a routerLinkActive="active" routerLink="users/5">User-Detiles</a></li>
    <li><a routerLinkActive="active" routerLink="about">About</a></li>
    <li><a routerLinkActive="active" routerLink="falsestring">Error</a></li>

</ul>
</nav> -->


<nav>
    <ul>
        <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="">Home</li>
        <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="users">Users</li>
        <li routerLinkActive="active" routerLink="users/5">User-Detiles</li>
        <li routerLinkActive="active" routerLink="about">About</li>
        <li routerLinkActive="active" routerLink="falsestring">Error</li>
    
    </ul>
    </nav>