<!-- <p>about works!</p> -->

<section class="section-4">
    <div class="container text-center">
        <h1 class="text dark">What Our Readers Say About Us</h1>
        <p class="text-secondary">Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div class="team row">


        <div class="col-12">


            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">


                    <!-- Second Card -->
                <div class="carousel-item active text-center">
                    <div class="card mr-2 d-inline-block shadow-lg">
                        <div class="card-img-top">
                            <img 
                            src="../../../assets/imgs/UI-face-2.jpg" alt="member"
                            class="img-fluid rounded-circle w-50 p-4">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Align Waire</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Facilis autem iste distinctio iusto odit soluta sint</p>
                            
                                <button class="btn btn-dark px-5 py-20" (click)="navigateToHome()">Back to Home</button>
                        </div>
                    </div>
                </div>



                </div>
            </div>
        </div>





    </div>
</section>





<!-- <button (click)="navigateToHome()">test</button> -->


<!-- <img src="../../../assets/imgs/UI-face-2.jpg"> -->