@model System.Web.Mvc.HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body style="background-color:antiquewhite;">
    <hgroup>
        <h1>Note</h1>
        <h2>Under Constraction Page</h2>
        <br />
        <h3>Please Note That, @Model.ControllerName / @Model.ActionName  is still Under Constraction . . .</h3>
    </hgroup>
</body>
</html>
