<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="localhost_ExaminationDB_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ExaminationDB" />
        <add name="ExaminationDB_Reports.Properties.Settings.ExaminationDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=ExaminationDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="localhost_ExaminationDB_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=ExaminationDB" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>