
@keyframes s{
    0%{
        border-right: 60px solid transparent;
        border-top: 60px solid red;
        border-left: 60px solid red ;
        border-bottom: 60px solid red ;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;

    }
    100%{
        border: 60px solid red;
        border-radius: 60%;
    }
}
.pacman {
    width: 0px;
    height: 0px;
   animation: s 0.52s linear 0s infinite alternate;
  }
