.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    
  }
  
  .flex-container > div {
    border: 2px solid orange;
    width: 250px;
    height: 100px;
  }

